body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.navbar{
 background-color: #000;    
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: #f5f5f5;
}

#controlPanelRightID{
    height: 280px;
    width: 260px;
    background-color: #fff;
    border-left: 1px solid #ccc; 
    background: white;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    opacity: 0.95;
    filter: alpha(opacity=10);    
}

#controlPanelLeftID{
    z-index: 1000 !important;
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-left: 1px solid #ccc; 
    background: white;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    opacity: 0.95;
    filter: alpha(opacity=10);    
}

#Copyright_info {
    z-index: 1000 !important;
    height: 30px;
    width: 280px;
    background-color: #fff;
    border-left: 1px solid #ccc; 
    background: white;
    background: rgba(255,255,255,0.85);
    opacity: 0.6;
    filter: alpha(opacity=10);    
}

#idMdSettings .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

#legend_data_info {
    line-height: 18px;
    color: #333333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.91);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    float: left;
/*    z-index: 8000 !important;*/
}
